@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-progress:rgb(240, 240, 240);
  --background-primario: rgb(150, 184, 19);
  --background-secundario: rgb(0, 72, 154);
}

#__next {
  display: grid !important;
  min-height: 100vh;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: 720px 1fr 50px;
}

/* Style Swiper */
.SwiperSlide__imageContainer {
  position: relative;
  height: 500px;
  overflow: hidden;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--background-progress);
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  stroke: var(--background-progress);
  fill: none;
  stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}
.swiper {
  height: 100%;
  width: 100%;
}
.swiper .swiper-pagination-bullet-active {
  transform: scale(2);
  transform-origin: center;
}

.main-container {
  min-width: 80%;
  margin: 0 auto;
  /* background-color: red; */
}

.container-header {
  position: relative;
}

.contain-nav {
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 700px;
  z-index: 50;
  display: grid;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: 200px 400px ;
  /* background: yellow; */
 
  /* background-color: red; */
}

.grid-nav-start{
  background: rgba(37, 37, 37, 0.2);
  backdrop-filter: blur(2px);
}

.grid-nav-start_contain-nav{
 width: 80%;
 margin: 0 auto;
 
}




/* Style nav start */
.contain-nav-start,
.contain-nav-end {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40px;
}

.contain-nav-end {
  margin: 15px 0;
}
.contain-nav-start {
  margin: 50px 0;
}

.contain-nav-start__image-Container-logo {
  width: 200px;
}

.contenedor-info {
  display: flex;
  justify-content: end;
  gap: 20px;
}
.contain-contact__img,
.contain-phone__img {
  align-content: center;
}

.contain-contact__img img,
.contain-phone__img img {
  width: 25px;
  height: 25px;
}
.contain-contact,
.contain-phone {
  display: flex;
  height: 40px;
  /* background-color: red; */
  gap: 5px;
}

.contain-contact__hours,
.contain-phone__numbers {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contain-contact__hours > :nth-child(2),
.contain-phone__numbers > :nth-child(2) {
  line-height: 0.5;
}

/* Style nav end */
.contain-nav-end > ul {
  display: flex;
  height: 40px;
  /* background-color: red; */
  gap: 20px;
  align-items: center;
}

.contain-nav-end > div {
  display: flex;
  justify-content: end;
  height: 40px;

  /* background-color: green; */
}
.contain-nav-end__button {
  display: flex;
  background-color: var(--background-primario);
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  gap: 5px;
}

.contain-nav-end__button img {
  width: 20px;
  height: 20px;
}

/* Style grid-nav-end */
.grid-nav-end{

}

.service-nav{
  display: grid;
  grid-template-columns: 1fr 550px;
 grid-template-rows: 400px;
  /* background: red; */
}
.service-nav-content{
  grid-column: 2/3;
  /* background: green; */
  height: 450px;
 align-content: center;
 
}

.content-service{
  display: grid;
  height: 80%;
  grid-template-columns:  repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* background-color: aquamarine; */
  /* border-radius: 10px; */

}

.content-service__caja{
  border: 0.1px solid rgb(216, 216, 216);
  background: rgba(12, 12, 12, 0.2);
  backdrop-filter: blur(2px);
}

.content-service :nth-child(2), .content-service :nth-child(4){
  border-left:none;
}

.content-service__caja{
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}

.content-service__caja-groud img{
  width: 80px;
  height: 80px;
}

.content-service__caja-groud{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}
